
body {font-family: Verdana, sans-serif;}

.heading-foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color: black;
  text-align: center;
}
.heading .header1,
.heading .header2 {
  width: 70px;
  text-align: center;
  height: auto;
  /* background: rgb(255, 255, 255); */
  /* border-radius:50%; */
}

.heading .header1 {
  rotate: -40deg;
}

.heading .header2 {
  transform: rotateY(180deg);
  rotate: 40deg;
}

.main { 
  width: 100%; 
}
.main-container{
  width: 100%; 
  position: relative;
}
.main-container img{
  width: 100%;
  height: auto;
  max-height: 700px; 
}
.main-container .heading{
  width: 50%;
  float: left; 
  position: absolute; 
  top: 33%; 
}
.main-container .heading h1{
  color: white;
  font-size:40px; 
}
@media only screen and (max-width: 617px) {
  .main-container .heading{
    top: 10%;
    left: 2%; 
  }
  .main .heading-foot{
    display: none;
  }
}




section{  
  border-top: 0.1px solid black;  
  margin-top:-5px;
  width: 100%; 
  height: auto; 
  background-image: url("wood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thumnail{
  width: 100%; 
}
.thumnail h1{
  color: white;
  font-size:30px;  
  padding-top:20px;
} 
.thumnail-inner{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; 
  padding-bottom:50px;
}
.thumnail-pic{ 
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;  
}
.thumnail-pic .thumnail-img{
  width: 60%;
  /* height: 500px; */
}
.thumnail-pic img{
  width: 100%; 
  height: auto;  
  /* object-fit:  */
  /* object-position: 50% 50%; */
}
.thumnail-pic .desc{
  /* display: none; */
  width: 30%;   
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: center;
  color: white;
}
.thumnail-pic input[type=submit] { 
  border: none;
  background-color:rgba(197, 245, 188);
  color: black; 
  font-size: 15px;
  font-weight: bold;
  border-radius: 2px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;  
}

.thumnail-inner .miniPoster{
  width:50%;   
}
.thumnail-inner .miniPoster .miniPoster-inner {
  width:100%;
  display: none;  
}
.thumnail-inner .miniPoster img{
  width: 96%;
  height: auto;
  border-radius: 20px;
}



.mySlides {display: none;}

img {vertical-align: middle;}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 12px;
  width: 12px; 
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: transparent; 
}

/* Fading animation */
.fade {
  /* animation-name: fade; */
  animation-duration: 3s;
}

/* @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */





@media only screen and (max-width: 700px) {
  .thumnail-pic{
    width: 100%;
  }
  .thumnail-pic .thumnail-img{
    width: 100%;
  }
  .thumnail-inner .miniPoster{
    display: none;
  }
  .thumnail-pic .desc, .thumnail-pic img{
    width: 100%;
  }
}










 

.section {
  padding: 0 20px;
}

.rice-varieties {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 6px;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}


 